<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>
<%= form_for @order do |f| %>
<div class="row">
  <div class="col-md-4">
      <div class="form-group">
          <%= f.label :firstname %>
          <%= f.text_field :firstname, class: 'form-control' %>
      </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
          <%= f.label :lastname %>
          <%= f.text_field :lastname, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
    <p><%= f.label "count"  %></p>
    <%= f.select :count, ['1','2','3'], class: 'form-control' %><br />
  </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
          <%= f.label :from_city %>
          <%= f.text_field :from_city, class: 'form-control' %>
  </div>
  <div class="col-md-2">
          <%= f.label :to_city %>
          <%= f.text_field :to_city, class: 'form-control' %>
  </div>
  <div class="col-md-2">
          <%= f.label :data %>
          <%= f.text_field :data, class: 'form-control', type: 'date', placeholder: 'date'  %>
  </div>
  <div class="col-md-2">
  	<div class="form-group" style="margin-top: 27px;" align="right">
   	 <%= f.submit 'Зберегти', class: 'btn btn-primary' %>
     <%= link_to 'Назад', :back, class: 'btn btn-outline-secondary'%>
</div>
  </div>
  </div>


<%end%>



<br>
<hr>
